.container {
  max-width: 100%;
}

.title_vert {
  display: none;
}

.btn_write_to_us {
  position: fixed;
  top: auto;
  bottom: 0;
  left: 0;
  height: 61px;
  width: 100%;
  background-color: #f9a54e;
  border: none;
  padding: 0;
  z-index: 4;
  overflow: visible;
  &:after {
    position: absolute;
    content: '';
    display: block;
    width: 39px;
    height: 92px;
    right: auto;
    left: 50%;
    top: -38px;
    transform: translateX(-50%) rotate(-90deg);
  }
  .text {
    text-align: center;
    width: 100%;
    display: block;
    transform: rotate(0) translateY(0);
  }
}




.video_wrap {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  transition: all 0.5s ease;
  position: absolute;
  top: 0 !important;
  right: 0;
  z-index: 1;
  .video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center center;
    position: absolute;
    top: 0;
    right: 0;
  }
}
.hover {
  display: none;
}

.main_slider {
  position: relative;
  padding-top: 0;
  margin-bottom: 0;
  z-index: 2;
  height: 100vh;
  overflow: hidden;
  margin-bottom: 80px;
  .container,.row {
    height: 100vh;
    padding: 0;
  }
  .slider_page {
    display: none;
  }
  .slide_header {
    color: #ffffff;
    font-size: 38px;
    font-weight: 800;
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    b {
      font-size: 80px;
      letter-spacing: 4.5px;
    }
  }
  .main_text_slider {
    display: none;
  }
  .main_header_slider_wraper {
    .main_header_slider_page {
      display: block;
    }
  }
}


.slide_waves {
  display: none;
}




.info_blocks {
  padding-top: 58px;
  margin-bottom: 0;
  width: 100%;
  overflow: hidden;
  .info_block {
    padding-left: 0;
    margin-bottom: 60px;
    width: 50%;
    padding-right: 15px;
    &__value {
      // font-size: 48px;
      font-weight: 700;
      line-height: 1;
      text-transform: uppercase;
      letter-spacing: 8px;
      position: absolute;
      top: 0;
      left: 0;
      &:after {
        content: '';
        display: block;
        width: 63px;
        height: 7px;
        background-color: #5aa3d2;
        position: absolute;
        bottom: -39px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &__value_description {
      padding-top: 0;
      // font-size: 16px;
      font-weight: 700;
      line-height: 1.5;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-bottom: 0;
      width: auto;
      padding-left: 140px;
      min-height: 160px;
    }
    &__description {
      color: #686b6e;
      // font-size: 14px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0.7px;
      width: auto;
    }
    &:nth-child(2) {
      margin-left: 0;
      padding-top: 0;
      .info_block__value {
        top: 0;
      }
    }
    &:nth-child(3) {
      width: 50%;
      margin-left: 0;
      .info_block__value {
        left: 0;
      }
    }
    &:nth-child(4) {
      width: 50%;
      margin-left: 0;
      margin-bottom: 38px;
      .info_block__value {
        left: 0;
      }
    }
  }
}

.gallery {
  .slick-arrow {
    left: -77px;
  }
}



.tariffs {
  .tariffs_card {
    margin-left: 10px;
    margin-right: 10px;
    &__name {
      font-size: 16px;
    }
    &__prices {
      font-size: 14px;
    }

  }
}


.main_block {
  &__container {
    .h1 {
      font-size: 86px;
    }
    .description {
      font-size: 14px;
    }
  }
}

.requisites {
  padding: 35px 0;
  .d-flex {
    flex-wrap: wrap;
  }
  &__col {
    width: 100%;
    flex-grow: 1;
  }
}


.p_summer, .p_pool, .p_vip {
  .main_block {
    margin-bottom: 50px;
  }
}

.p_vip {
  .h2 {
    margin-top: 0;
  }
}