%clearfix {

    &:after {
        content: '';
        display: table;
        clear: both;
    }

}


%button-reset {
    padding: .429em; // Отступ для стандартного фокуса
    border-width: 0;
    background-color: transparent;
}