@media all and (min-width: 0) and (max-width: 479px) {
    @import "variables",
        "mixins",
        "phone/base",
        "phone/header",
        "phone/footer";


    body {
        min-width: 320px;
    }
}