<svg width="0" height="0" style="position: absolute;" aria-hidden="true">
    
    // Пример иконок в спрайте
    <symbol id="icon-close" viewBox="0 0 24 24">
        <path d="M24 1.4L22.6 0 12 10.6 1.4 0 0 1.4 10.6 12 0 22.6 1.4 24 12 13.4 22.6 24l1.4-1.4L13.4 12z"/>
    </symbol>
    
</svg>