.footer {
  margin-top: 96px;
  padding-bottom: 88px;
  .weather {
    color: #5aa3d2;
    font-size: 58px;
    font-weight: 400;
    line-height: 0.8;
    text-transform: uppercase;
    letter-spacing: 2.03px;
    @media all and (max-width: 1150px) {
      font-size: 48px;
    }
  }
  .copyright {
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
  }
  .contact {
    font-size: 14px;
    line-height: 1;
    display: flex;
    margin-bottom: 27px;
    &:last-child {
      margin-bottom: 0;
    }
    &__label {
      font-weight: 700;
      width: 20%;
      text-align: right;
      text-transform: uppercase;
    }
    &__value {
      font-weight: 400;
      padding-left: 43px;
      .link {
        color: #5aa3d2;
        text-decoration: underline;
      }
    }
  }
  .creater {
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    .link {
      color: #5aa3d2;
      text-decoration: underline;
    }
  }
  .socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .link {
       flex-shrink: 0;
      .icon {
        display: block;
        width: 100%;
        height: auto;
        border-radius: 4px;
        transition: all 0.3s ease;
      }
    }
  }
}