.p_pool {
  .main_block {
    margin-bottom: 143px;
  }
  .bg_waves {
    top: -143px;
  }
  .h2 {
    margin-bottom: 92px;
  }
  .paragraf {
    padding-bottom: 38px;
  }
  .img_wrap {
    margin-bottom: 120px;
  }
}