.container {
  max-width: 100%;
}

.mobile_only {
  display: block;
}

.desktop_only {
  display: none;
}



.opacity {
  // opacity: 1;
}

.parallax-mirror {
  // z-index: 0 !important;
}

.img_wrap {
  // position: relative;
  // z-index: 1;
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-image: none !important;
  // transition: all 0.1s ease;
}

.title_vert {
  justify-content: flex-start;
  position: relative;
  transform: rotate(0) translateY(0);
  width: auto;
  height: auto;
  left: auto;
  margin-bottom: 40px;
}

.btn_write_to_us {
  position: fixed;
  top: auto;
  bottom: 0;
  left: 0;
  height: 61px;
  width: 100%;
  background-color: #f9a54e;
  border: none;
  padding: 0;
  z-index: 4;
  overflow: visible;
  &:after {
    position: absolute;
    content: '';
    display: block;
    width: 39px;
    height: 92px;
    right: auto;
    left: 50%;
    top: -38px;
    transform: translateX(-50%) rotate(-90deg);
  }
  .text {
    text-align: center;
    width: 100%;
    display: block;
    transform: rotate(0) translateY(0);
  }
}


.video_wrap {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  transition: all 0.5s ease;
  position: absolute;
  top: 0 !important;
  right: 0;
  z-index: 1;
  .video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center center;
    position: absolute;
    top: 0;
    right: 0;
  }
}
.hover {
  display: none;
}

.bg_waves {
  display: none;
  &.mobile_only {
    display: block;
    height: 127px;
  }
}


.main_slider {
  position: relative;
  padding-top: 0;
  margin-bottom: 0;
  z-index: 2;
  height: 100vh;
  overflow: hidden;
  .container,.row {
    height: 100vh;
    padding: 0;
  }
  .slider_page {
    display: none;
  }
  .slide_header {
    color: #ffffff;
    font-size: 20px;
    font-weight: 800;
    line-height: 28.58px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    b {
      font-size: 41px;
      letter-spacing: 4.5px;
    }
  }
  .main_text_slider {
    display: none;
  }
  .main_header_slider_wraper {
    .main_header_slider_page {
      display: block;
    }
  }
}




.info_blocks {
  padding-top: 58px;
  margin-bottom: 0;
  width: 100%;
  overflow: hidden;
  .info_block {
    padding-left: 0;
    margin-bottom: 60px;
    width: 50%;
    padding-right: 10px;
    &__value {
      font-size: 48px;
      font-weight: 700;
      line-height: 1;
      text-transform: uppercase;
      letter-spacing: 8px;
      position: absolute;
      top: 0;
      left: 0;
      &:after {
        content: '';
        display: block;
        width: 63px;
        height: 7px;
        background-color: #5aa3d2;
        position: absolute;
        bottom: -39px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &__value_description {
      padding-top: 0;
      font-size: 16px;
      font-weight: 700;
      line-height: 1.5;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-bottom: 0;
      width: auto;
      padding-left: 90px;
      min-height: 110px;
    }
    &__description {
      color: #686b6e;
      font-size: 14px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0.7px;
      width: auto;
    }
    &:nth-child(2) {
      padding-top: 0;
      margin-left: 0;
      .info_block__value {
        top: 0;
      }
    }
    &:nth-child(3) {
      width: 50%;
      margin-left: 0;
      .info_block__value {
        left: 0;
      }
    }
    &:nth-child(4) {
      width: 50%;
      margin-left: 0;
      margin-bottom: 38px;
      .info_block__value {
        left: 0;
      }
    }
    @media all and (max-width: 600px) {
      width: 100%;
      padding-right: 0;
      margin-bottom: 58px;
      &:nth-child(2),&:nth-child(3),&:nth-child(4) {
        width: 100%;
        margin-bottom: 58px;
      }
    }
  }
}

.services {
  padding-top: 55px;
  margin-bottom: 0;
  .service {
    margin-bottom: 35px;
    .img {
      margin-bottom: 29px;
    }
  }
}

.gallery {
  padding-top: 55px;
  .container {
    .row {
      margin: 0;
    }
    .title_vert {
      padding-left: 20px;
    }
    padding: 0;
  }
  .gallery_slider {
    margin-left: -20px;
    margin-right: -20px;
  }
  .pagination {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    &__pages {
      display: none;
    }
  }

  .slick-arrow {
    padding: 0;
    left: 0;
    top: auto;
    position: absolute;
    color: transparent;
    overflow: hidden;
    right: auto;
    border-width: 15px 30px;
    width: 60px;
    height: 30px;
    z-index: 12;
    border-color: transparent;
    background-color: transparent;
    &.slick-next {
      border-right-color: #dcddda;
      border-bottom-color: transparent;
      transform: translateY(0);
      right: auto;
      left: 0;
      bottom: -50px;
      &:hover {
        border-right-color: #5aa3d2;
        border-bottom-color: transparent;
      }
    }
    &.slick-prev {
      border-left-color: #dcddda;
      border-top-color: transparent;
      transform: translateY(0);
      right: 0;
      bottom: -50px;
      left: auto;
      &:hover {
        border-left-color: #5aa3d2;
        border-top-color: transparent;
      }
    }
  }
}


.bracelet {
  .text {
    color: #686b6e;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.7px;
  }
}


.tariffs {
  .title_block {
    order: -2;
  }
  .text {
    color: #686b6e;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.7px;
    text-align: center;
  }
  .tariffs_cards {
    order: -1;
    flex-direction: column;
    margin-bottom: 0;
    .tariffs_card {
      width: 100%;
      margin-bottom: 77px;
    }
  }
}

.main_block {
  position: relative;
  width: 100%;
  height: 100vh;
  .img_wrap {
    height: 100%;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__container {
    width: 100%;
    height: 100%;
    padding-top: 0;
    text-align: center;
    z-index: 1;
    .h1 {
      line-height: 1;
      text-transform: uppercase;
      font-size: 19px;
      letter-spacing: 7.53px;
      margin-bottom: 28px;
      padding-left: 0;
      padding-right: 0;
    }
    .description {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
    }
  }
}

.h2 {
  font-weight: 500;
  text-transform: uppercase;
  color: #5aa3d2;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.8px;
  &.big {
    color: #003e6b;
    font-size: 20px;
    font-weight: 800;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 0.63px;
    margin-bottom: 38px;
    &:after {
      display: none;
    }
  }
}

.paragraf {
  font-size: 14px;
}


.p_pool {
  .main_block {
    margin-bottom: 55px;
  }
  .paragraf {
    padding-top: 0;
    margin-bottom: 37px;
  }
  .img_wrap {
    margin-bottom: 40px;
  }
}


.p_summer {
  .main_block {
    margin-bottom: 60px;
  }
  .bg_waves {
    top: -143px;
  }
  .h2 {
    margin-bottom: 40px;
  }
  .paragraf {
    margin-bottom: 57px;
  }
  .img_wrap {
    margin-bottom: 40px;
  }
  .list {
    margin-bottom: 84px;
  }
}

.requisites {
  background-color: #dcddda;
  padding: 75px 0;
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 35px 0;
  z-index: 1;
  .d-flex {
    flex-wrap: wrap;
  }
  &__col {
    width: 100%;
    flex-grow: 1;
  }
  &__item {
    color: #003e6b;
    font-size: 16px;
    font-weight: 500;
    line-height: 38px;
  }
}



.p_vip {
  .main_block {
    margin-bottom: 68px;
  }
  .h2 {
    margin-top: 0;
    margin-bottom: 40px;
  }
  .paragraf {
    margin-bottom: 77px;
  }
  .img_wrap {
    margin-bottom: 40px;
    &.mb_none {
      margin-bottom: 40px;
    }
  }
  .b_list {
    padding-top: 36px;
  }
  .list {
    margin-bottom: 77px;
  }
  .capacity_block {
    padding-top: 120px;
  }
  .capacity {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    &__item {
      width: 100%;
      margin-bottom: 60px;
      .value {
        position: relative;
        display: flex;
        align-items: baseline;
        margin-bottom: 40px;
        &::after {
          content: '';
          position: absolute;
          display: block;
          bottom: -10px;
          left: 0px;
          width: 60px;
          height: 4px;
          background-color: #5aa3d2;
        }
        .val {
          color: #003e6b;
          margin-right: 32px;
          font-size: 48px;
          font-weight: 700;
          line-height: 100px;
          text-transform: uppercase;
          letter-spacing: 4.8px;
        }
        .name {
          color: #003e6b;
          font-size: 16px;
          font-weight: 700;
          line-height: 24px;
          text-transform: uppercase;
          letter-spacing: 1.97px;
        }
      }
      .description {
        color: #686b6e;
        font-size: 16px;
        font-weight: 500;
        line-height: 28px;
      }
    }
  }
}


.p_contacts {
  padding-top: 116px;
}


.p_gallery {
  padding-top: 0;
}




.p_gallery {
  .gallery {
    padding: 0;
    z-index: 18;
    .btn_close {
      top: 20px;
      right: 20px;
      width: 50px;
      height: 50px;
      z-index: 17;
    }
    &__img {
      width: 100%;
    }
  }

.gallery_page_slider {
  .slick-arrow {
    &.slick-next {
      &:after {
        right: 0;
      }
    }
    &.slick-prev {
      &:after {
        left: 0;
      }
    }
  }
}
}

.main_form {
  padding-top: 80px;
  overflow-y: auto;
  .form {
    .input_wrap {
      margin-bottom: 20px;
    }
    .checkbox {
      margin-bottom: 20px;
    }
    .textarea {
      height: 120px;
    }
  }
}


.img_slider_wrap {
  margin-left: -20px;
  margin-right: -20px;
  .img_slider_page {
    bottom: -40px;
    color: #003e6b;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.4px;
  }
  .img_slider {
    .img {
      min-height: 300px;
      object-fit: cover;
      object-position: center;
    }
    .slick-arrow {
      bottom: -40px;
      &.slick-prev {
        left: 0;
        right: auto;
        border-right-color: #dcddda;
      }
      &.slick-next {
        right: 0;
        left: auto;
        border-left-color: #dcddda;
      }
    }
  }
}
