.footer {
  margin-top: 40px;
  .weather {
    margin-bottom: 40px;
    color: #5aa3d2;
    font-size: 36px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 1.26px;
  }
  .contact {
    flex-direction: column;
    margin-bottom: 26px;
    &:last-child {
      margin-bottom: 26px;
    }
    &__label {
      width: 100%;
      text-align: left;
      margin-bottom: 10px;
    }
    &__value {
      padding: 0;
      color: #686b6e;
      font-size: 14px;
      font-weight: 500;
      line-height: 32px;
      .value_row {
        display: block;
      }
    }
  }
  .socials {
    padding-top: 0;
    margin-bottom: 56px;
  }
  .copyright {
    color: #686b6e;
    font-size: 11px;
    font-weight: 400;
  }
  .creater {
    color: #686b6e;
    font-size: 11px;
    font-weight: 400;
  }
}